<%- include('partials/header') %>
<h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= prefillTitle %>" required>

        </div>
    
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="author" value="<%= prefillAuthor %>" required>
        </div>
    
        <div class="mb-3">
            <label for="tags" class="form-label">Tags (comma separated)</label>
            <input type="text" class="form-control" id="tags" name="tags" value="<%= prefillTags.join(', ') %>" required>
        </div>
    
        <button type="submit" class="btn btn-primary">
            <%= title.includes('Edit') ? 'Update Book' : 'Add Book' %>
        </button>
    </form>
<%- include('partials/footer') %>