<!DOCTYPE html>
<html lang="en">

<%- include('partials/header', { title: 'My Page' }) %>

<body>
    <h1>Welcome to <%= title %>
    </h1>
    <h2>recipes.ejs</h2>
    <h2>Available Recipes:</h2>
    <!--
    Regualr Unordered List 
    <ul>
        <% recipes.forEach(recipe=> { %>
            <li><strong>
                    <%= recipe.title %>
                </strong>: <%= recipe.ingredients %>
            </li>
            <% }); %>
    </ul> -->

    <!-- Using Bootstrap List Group -->
    <ul class="list-group">
        <% recipes.forEach(recipe => { %>
            <li class="list-group-item"><strong><%= recipe.title %></strong>: <%= recipe.ingredients %></li>
        <% }); %>
        
    </ul>
</body>

</html>